#divprincipale{ 
    height: 900px; 
    background-color: white; 
    text-align: center; 
    display: block; 
    margin: 0px auto; 
    box-shadow: 0px 0px 5px -3px #35373b; 
    border-radius: 2px;
}
#body{
    background-color: #f8f8f8;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
nav{
    background-color: #303030;
    color: white;
    border: 0%;
    border-radius: 2px;
    background-color: rgb(169, 169, 169);
    box-shadow: 0px 0px 5px -3px #35373b; 
    font-family: 'Open Sans', sans-serif;
}
nav ul {
    list-style-type: none;
    margin:0%;
    padding: 0%;
    text-align:center;
    padding: 0%;
    margin: 0%;
}
nav li a{
    text-decoration: none;
    color:white;
    padding: 15px;
}
nav li{
    display: inline-block ;
    padding: 20px;
    width: 120px;
}
nav li:hover{
    background-color:#737373 ;
    border-radius: 5px;
}
#divpartesopra{
    background-color:rgb(228, 228, 228);
    height: 500px;
}
#poiuy{
    height: 300px;
}
#sotto{
    background-color: #303030;
    height: 300px;
}
#img1{
    border-radius: 100%;
    width: 200px;
}